asgiref==3.5.0
astroid==2.9.0
attrs==21.4.0
backports.zoneinfo==0.2.1
colorama==0.4.4
dj-database-url==0.5.0
Django==4.0.4
django-heroku==0.3.1
gunicorn==20.1.0
importlib-resources==5.7.1
isort==5.10.1
jsonschema==4.4.0
lazy-object-proxy==1.7.1
mccabe==0.6.1
platformdirs==2.4.0
psycopg2==2.9.3
pygame==2.1.0
pylint==2.12.2
pyproject-toml==0.0.10
pyrsistent==0.18.1
python-decouple==3.6
sqlparse==0.4.2
toml==0.10.2
typing_extensions==4.0.1
tzdata==2022.1
whitenoise==6.0.0
wrapt==1.13.3
zipp==3.8.0
